<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink ="/listlogininfo" routerLinkActive ="active" class="nav-link">View LoginInformation List</a>
        </li>
        <li class="nav-item">
            <a routerLink ="/addlogininfo" routerLinkActive ="active" class="nav-link">Add LoginInformation</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2024 ShunmugaSundaram</span>
    </div>
</footer> -->