<div class="col-md-6 offset-md-3">
    <h3>View LoginInformation</h3><br>
        <div>
            <label> <b> Customer Id: </b> </label> {{logininfoview.custId}}
        </div>
        <div>
            <label> <b> Phone Number: </b> </label> {{logininfoview.phoneNumber}}
        </div>
        <div>
            <label> <b> Email Id: </b> </label> {{logininfoview.emailId}}
        </div>
        <div>
            <label> <b> Login Password: </b> </label> {{logininfoview.loginPassword}}
        </div>
        <div>
            <label> <b> Login OldPassword: </b> </label> {{logininfoview.loginOldPassword}}
        </div>
        <div>
            <label> <b> Update DateTime: </b> </label> {{logininfoview.dtUpdate}}
        </div>
    </div>